.col-4 {

	.block {
		width: 90%;
		height: 200px;
		margin: 0 auto;
		border: 2px solid black;
	}

	&:nth-of-type(odd) {

		.block {
			background: $oddBoldColor;
		}
	}

	&:nth-of-type(even) {

		.block {
			background: $evenBoldColor;

		}
	}
}
